<section class="row bg-danger text-center text-white p-3">
    <div style="display:flex; flex-direction:row;gap: 20px;justify-content:space-around">
        <div>
            <h3 class="text-white text-start">DEK-C PHONE SHOP</h3><br>
            <p>You are-stop shop for the latest<br>
                smartphones and accessories </p>
        </div>
        <div class="text-white text-start" style="text-decoration: none; color: white;">
            <h3>QUICK LINKS</h3><br>
            <a class="text-white" href="">Home</a><br>
            <a class="text-white" href="">Products</a><br>
            <a class="text-white" href="">About us</a><br>
            <a class="text-white" href="">Contact</a><br>
        </div>
        <div class="text-start">
            <h3 class="text-start">CONTACT US</h3><br>
            <p>Email:Support@vv.com<br>
            <p>Phone:+855 (123) 123-123<br>
            <p>Address:nv pp yy ng</p><br>
        </div>
        <div>
            <h3>FOLLOW US</h3><br>
            <a href="">
                <img src="../static/images/x.png" alt="">
            </a>
            <a href="">
                <img src="../static/images/fb.png" alt="">
            </a>
            <a href="">
                <img src="../static/images/in.png" alt="">
            </a>

        </div>

    </div>
    <hr>
    <DIV class="bg-danger">
        <p>©All Rights Reserved Privacy Policy</p>

    </DIV>
</section>